$title-text-color: rgb(112, 135, 255);
$title-text-glow: rgba(0, 32, 255, 0.32);
$title-text-initial-color: rgba(90, 255, 0, 0);
$inset-box-shadow-effect: 15px 15px 30px rgb(0, 0, 0) inset, -2px -2px 10px rgb(0, 0, 0) inset
, -8px -8px 20px rgb(21, 21, 21);
$title-container-background-color: rgba(35, 35, 35, 0.44);

html {
  box-sizing: border-box;
}

body {
  background-color: #0b0b0b;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 4rem 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.nav-container {
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: $title-container-background-color;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  box-shadow: $inset-box-shadow-effect;
  padding: 1rem;
}

.nav-links {
  font-family: "Andale Mono", monospace;
  color: $title-text-color;
  text-shadow: $title-text-glow 3px 3px 30px;
  font-size: 0.8rem;
  animation: glowing-links 2s forwards;
}

.nav-links:hover {
  color: #ffff93;
  text-shadow: yellow 3px 3px 30px;
}

.title-container {
  position: absolute;
  top: 40%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $title-container-background-color;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  box-shadow: $inset-box-shadow-effect;
  padding: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-family: "Andale Mono", monospace;
  color: $title-text-color;
  text-shadow: $title-text-glow 3px 3px 30px;
  animation: glowing-text 5s forwards;
}

@keyframes glowing-text {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glowing-links {
  0% {
opacity: 0;
  }
  5% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  100% {
opacity: 1;
  }
}

.project-container {
  position: absolute;
  top: 10%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 90%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

.animate-box {
  overflow: scroll;
  animation: open-box 1s forwards;
}

@keyframes open-box {
  100% {
    height: 70%;
    padding: 0.5rem;
    border: rgba(255, 255, 255, 0.15) solid 1px;
  }
}

img {
  height: 9rem;
  width: 13rem;
  border: rgba(255, 255, 255, 0.17) solid 1px;
 }

.close-button {
  color: $title-text-color;
  text-shadow: $title-text-glow 3px 3px 30px;
  font-family: "Andale Mono", monospace;
  margin: 0.2rem;
  text-wrap: nowrap;
  width: 100%;
  text-align: end;
  text-decoration: underline;
  font-size: 0.7rem;
  position: sticky;
  top: 0.5rem;
}

.close-button:hover {
  color: #ffff93;
  text-shadow: yellow 3px 3px 30px;
}

.project-title {
  color: #ffff93;
  font-family: "Andale Mono", monospace;
  text-shadow: rgba(255, 255, 0, 0.61) 3px 3px 10px;
}

.about-container {
  position: absolute;
  top: 10%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  p {
    color: #ffff93;
    font-family: "Andale Mono", monospace;
    text-shadow: rgba(255, 255, 0, 0.61) 3px 3px 10px;
  }
}

.close-about-button {
  color: $title-text-color;
  text-shadow: $title-text-glow 3px 3px 30px;
  font-family: "Andale Mono", monospace;
  margin: 0.2rem;
  text-wrap: nowrap;
  width: 100%;
  text-align: end;
  text-decoration: underline;
  font-size: 0.7rem;
  position: sticky;
  top: 0.5rem;
}

.close-about-button:hover {
  color: #ffff93;
  text-shadow: yellow 3px 3px 30px;
}






